body, html {

	background:url(../img/bg.png), #000000;
	background-size:cover;
	overflow:hidden;
	cursor:auto;
	color:#ffffff;
}

#mainVideo {

	position:fixed;
	top:95px;
	left:12%;
	border:5px solid #000000;
	border-radius:10px;
}

#homeButton {

	position:absolute;
	top:7px;
	right:10px;
	width:56px;
	height:56px;
	opacity:0.5;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/home.png);
}

#homeButton:hover {

	position:absolute;
	top:7px;
	right:10px;
	width:56px;
	height:56px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/homeHOVER.png);
}

#appsForText {

	position:relative;
	font-family:segoe;
	font-size:16px;
	color:#ffffff;
	opacity:0.5;
	cursor:auto;
}

#mainTitle {

	position:relative;
	font-family:strasua;
	font-size:25px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}

#windowsTitle {

	position:relative;
	font-family:segoe;
	font-size:24px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}

#macTitle {

	position:relative;
	font-family:sfp;
	font-size:24px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}

#macStore {

	position:absolute;
	top:7px;
	left:75px;
	width:57px;
	height:57px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/macosMAIN.png);
}

#macStore:hover {

	position:absolute;
	top:7px;
	left:75px;
	width:57px;
	height:57px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/macosHOVER.png);
}

#winStore {

	position:absolute;
	top:5px;
	left:5px;
	width:58px;
	height:58px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/windowsMAIN.png);
}

#winStore:hover {

	position:absolute;
	top:5px;
	left:5px;
	width:58px;
	height:58px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/windowsHOVER.png);
}

#titleText {

	position:absolute;
	bottom:5px;
	right:10px;
	font-family:strasua;
	font-size:14px;
	text-decoration:none;
	cursor:arrow;
}

#facebookLink {

	position:absolute;
	bottom:5px;
	left:12px;
	font-family:facebook;
	font-size:28px;
	color:#ffffff;
	cursor:auto;
}

#facebookLink:hover {

        position:absolute;
        bottom:5px;
        left:12px;
        font-family:facebook;
        font-size:28px;
        color:#7590c9;
	cursor:pointer;
}

@font-face {

	font-family:museo;
	src:url(../fonts/museo.ttf);
}

@font-face {

	font-family:sfp;
	src:url(../fonts/sfp.ttf);
}

@font-face {

	font-family:segoe;
	src:url(../fonts/segoe.ttf);
}

@font-face {

	font-family:strasua;
	src:url(../fonts/strasua.ttf);
}

@font-face {

	font-family:facebook;
	src:url(../fonts/facebook.otf);
}
