.home, html {

	background:url(../img/bgALL.png), #000000;
	background-size:cover;
	width:100%;
	height:100%;
	overflow:hidden;
	cursor:url(../img/arrow.cur), auto;
	color:#ffffff;
}

.mobile, html {

	background:url(../img/bgMOBmain.png), #ffffff;
	background-size:cover;
	width:100%;
	height:100%;
	overflow:hidden;
	cursor:url(../img/arrow.cur), auto;
	color:#ffffff;
}

.macos, html {

	background:url(../img/bgBlank.png), #000000;
	background-size:cover;
	overflow:hidden;
	cursor:auto;
	cursor:url(../img/arrow.cur), auto;
	color:#ffffff;
}

.winos, html {

	background:url(../img/bgBlank.png), #000000;
	background-size:cover;
	overflow:hidden;
	cursor:auto;
	cursor:url(../img/arrow.cur), auto;
	color:#ffffff;
}

#magicBG {

	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	size:cover;
	opacity:0.0;
	z-index:-1;

	animation-name:lightShow;
	animation-delay:1000ms;
	animation-duration:2500ms;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

#logoTAG {

	position:relative;
	top:15%;
	width:95%;
	cursor:url(../img/arrow.cur), auto;
}

#arcDARK {

	position:relative;
	width:80%;
	cursor:url(../img/arrow.cur), auto;
}

#arcBOX {

	position:fixed;
	bottom:25%;
	width:90%;
	border:0px solid #ffffff;
}

#cbanner {

	position:fixed;
	top:30%;
	left:21%;
	width:530px;
	opacity:0.0;

	animation-name:fadeIn;
	animation-delay:1500ms;
	animation-duration:2500ms;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

#upcomingIntroText {

	position:relative;
	font-family:Verdana;
	font-size:24px;
	color:#ffffff;
	opacity:1.0;
	text-decoration:none;
}

#upcomingText {

	position:relative;
	font-family:Verdana;
	font-size:18px;
	color:#ffffff;
	opacity:1.0;
	text-decoration:normal;
}

#udemyText {

	position:relative;
	font-family:Verdana;
	font-size:18px;
	color:#ffffff;
	opacity:1.0;
	padding:50% 0%;
	text-decoration:normal;
}

#udemyLink {

	position:relative;
	font-family:Verdana;
	font-size:18px;
	color:#ff3860;
	opacity:1.0;
	text-decoration:normal;
}

#udemyLink:hover {

	position:relative;
	font-family:Verdana;
	font-size:18px;
	color:#ff0032;
	opacity:1.0;
	text-decoration:normal;
}


#boxIntro {

	position:relative;
	font-family:Verdana;
	font-size:16px;
	color:#ffffff;
	opacity:0.6;
	text-decoration:normal;
}

#boxText {

	position:relative;
	font-family:Verdana;
	font-size:15px;
	color:#ffffff;
	opacity:1.0;
	padding:50%;
	text-decoration:normal;
}

#miniBox {

	position:fixed;
	top:-5px;
	left:0px;
	width:100%;
	height:100%;
	padding:40px 150px;
	opacity:0.0;
	z-index:-1;
	border:20px solid #000000;
	border-radius:5px;
	background:#000000;
	cursor:pointer;

	animation-name:growUp;
	animation-delay:500ms;
	animation-duration:1000ms;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
}

@keyframes growUp {

	0% {
		width:0%;
		height:0%;
		opacity:0.0;
	}

	100% {
		width:101%;
		height:101%;
		opacity:0.95;
		z-index:1;
	}
}

@keyframes fadeIn {

	0% {
		opacity:0.0;
	}

	100%
		opacity:0.1;
	}
}

@keyframes lightShow {

	0% {
		opacity:0.5;
		z-index:1;
	}

	100% {
		opacity:0.0;
		z-index:-1;
	}
}

#mainVideo {

	position:fixed;
	top:95px;
	left:12%;
	border:5px solid #000000;
	border-radius:10px;
}

#homeButtonMob {

	position:absolute;
	top:16px;
	right:27px;
	width:64px;
	height:64px;
	opacity:0.8;
	cursor:pointer;
}

#homeButtonMob:hover {

	position:absolute;
	top:16px;
	right:27px;
	width:64px;
	height:64px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/homeHOVER.png);
}

#homeButton {

	position:absolute;
	top:16px;
	right:27px;
	width:45px;
	height:45px;
	opacity:0.8;
	cursor:pointer;
}

#homeButton:hover {

	position:absolute;
	top:16px;
	right:27px;
	width:45px;
	height:45px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/homeHOVER.png);
}

#appsForText {

	position:relative;
	font-family:segoe;
	font-size:16px;
	color:#ffffff;
	opacity:0.5;
	cursor:auto;
}

#mainTitle {

	position:relative;
	font-family:strasua;
	font-size:25px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}

#windowsTitle {

	position:relative;
	font-family:segoe;
	font-size:33px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}

#macTitle {

	position:relative;
	font-family:sfp;
	font-size:33px;
	color:#ffffff;
	opacity:1.0;
	cursor:auto;
}


#udemyMINI {

	position:relative;
	top:17px;
	width:48px;
	height:48px;
	opacity:1.0;
	cursor:pointer;
}

#udemyStoreMob {

	position:absolute;
	top:0px;
	left:7px;
	height:25%;
	opacity:0.95;
	cursor:pointer;
}

#udemyStoreMob:hover {

	position:absolute;
	top:0px;
	left:8px;
	height:25%;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/udemylogo.png);
}

#udemyStore {

	position:absolute;
	top:0px;
	left:5px;
	height:76px;
	opacity:0.95;
	cursor:pointer;
}

#udemyStore:hover {

	position:absolute;
	top:0px;
	left:7px;
	height:76px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/udemylogo.png);
}

#pyStore {

	position:absolute;
	top:8px;
	left:148px;
	width:55px;
	height:55px;
	opacity:1.0;
	cursor:pointer;
}

#pyStore:hover {

	position:absolute;
	top:7px;
	left:148px;
	width:55px;
	height:55px;
	opacity:1.0;
	cursor:pointer;
	content:url(../img/python.png);
}

#macStore {

	position:absolute;
	top:7px;
	left:75px;
	width:57px;
	height:57px;
	opacity:1.0;
	cursor:pointer;
}

#macStore:hover {

	position:absolute;
	top:7px;
	left:75px;
	width:57px;
	height:57px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/macosHOVER.png);
}

#macStore:active {

	position:absolute;
	top:7px;
	left:75px;
	width:57px;
	height:57px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/macos.png);
}

#winStore {

	position:absolute;
	top:5px;
	left:5px;
	width:58px;
	height:58px;
	opacity:1.0;
	cursor:pointer;
}

#winStore:hover {

	position:absolute;
	top:5px;
	left:5px;
	width:58px;
	height:58px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/windowsHOVER.png);
}

#winStore:active {

	position:absolute;
	top:5px;
	left:5px;
	width:58px;
	height:58px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/windows.png);
}

#desTextBox {

	position:fixed;
	padding:60px 90px;
	width:80%;
	height:50%;
	border:0px solid #ffffff;
}

#desText {

	position:relative;
	font-family:Verdana;
	font-size:20px;
}

#desLink {

	position:relative;
	font-family:Verdana;
	font-size:20px;
	color:#009dd1;
	text-decoration:none;
}

#winURL {

	position:relative;
	font-family:Verdana;
	font-size:16px;
	color:#ffaa00;
	cursor:pointer;
}

#macURL {

	position:relative;
	font-family:Verdana;
	font-size:16px;
	color:#7ebcf2;
	cursor:pointer;
}

#titleText {

	position:absolute;
	bottom:5px;
	right:10px;
	font-family:strasua;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
}

#emailLinkcontact {

	position:relative;
	width:72px;
	opacity:1.0;
	cursor:pointer;
}

#emailLinkcontact:hover {

	position:relative;
	width:72px;
	opacity:1.0;
	cursor:pointer;
	content:url(../img/emailB.png);
}

#phoneLinkcontact {

	position:relative;
	top:-4px;
	width:64px;
	opacity:1.0;
	cursor:pointer;
}

#phoneLinkcontact:hover {

	position:relative;
	top:-4px;
	width:64px;
	opacity:1.0;
	cursor:pointer;
	content:url(../img/phoneB.png);
}

#phoneLink {

	position:absolute;
	bottom:16px;
	right:24px;
	font-family:Verdana;
	font-size:25px;
	font-weight:none;
	color:#ffffff;
	opacity:0.6;
	text-decoration:none;
	cursor:pointer;
}

#phoneLink:hover {

	position:absolute;
	bottom:16px;
	right:26px;
	font-family:Verdana;
	font-size:25px;
	font-weight:none;
	color:#ffffff;
	opacity:1.0;
	text-decoration:none;
	cursor:pointer;
}

#slurLink {

	position:absolute;
	top:16px;
	left:26px;
	width:64px;
	height:64px;
	opacity:0.9;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/xslurMAIN.png);
}

#slurLink:hover {

	position:absolute;
	top:16px;
	left:26px;
	width:64px;
	height:64px;
	opacity:1.0;
	cursor:pointer;
	content:url(https://alectramell.github.io/img/xslurMAIN.png);
}

#facebookLinkMob {

	position:absolute;
	bottom:30px;
	left:45px;
	font-family:facebook;
	font-size:300%;
	color:#2495ff;
	cursor:pointer;
}

#facebookLinkMob:hover {

	position:absolute;
	bottom:30px;
	left:46px;
	font-family:facebook;
	font-size:300%;
	color:#2495ff;
	cursor:pointer;
}

#facebookLink {

	position:absolute;
	bottom:13px;
	left:18px;
	font-family:facebook;
	font-size:28px;
	color:#ffffff;
	cursor:auto;
}

#facebookLink:hover {

        position:absolute;
        bottom:13px;
        left:20px;
        font-family:facebook;
        font-size:28px;
        color:#2495ff;
	cursor:pointer;
}

#dashMOB {

	position:fixed;
	bottom:10%;
	width:100%;
	border:0px solid #ffffff;
	color:#ffffff;
	opacity:1.0;
}

#phMOB {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:1.0;
	cursor:pointer;
}


#phMOB:hover {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:0.8;
	cursor:pointer;
}

#emMOB {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:1.0;
	cursor:pointer;
}

#emMOB:hover {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:0.8;
	cursor:pointer;
}

#fbMOB {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:1.0;
	cursor:pointer;
}

#fbMOB:hover {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:0.8;
	cursor:pointer;
}

#udMOB {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:1.0;
	cursor:pointer;
}

#udMOB:hover {

	position:relative;
	bottom:20px;
	width:20%;
	margin:auto;
	opacity:0.8;
	cursor:pointer;
}

@font-face {

	font-family:museo;
	src:url(../fonts/museo.ttf);
}

@font-face {

	font-family:sfp;
	src:url(../fonts/sfp.ttf);
}

@font-face {

	font-family:segoe;
	src:url(../fonts/segoe.ttf);
}

@font-face {

	font-family:strasua;
	src:url(../fonts/strasua.ttf);
}

@font-face {

	font-family:facebook;
	src:url(../fonts/facebook.otf);
}
